fieldset
{
    border: 1px solid #01B1ED;
    margin-top: 16px;
    padding: 25px;
}

legend
{
    font: bold 12px Arial, Helvetica, sans-serif;
    color: #00008B;
    background-color: #FFFFFF;
    width: auto;
    border-bottom:none;
    font-size: 1.4em;
}
.loginContent{
    width: 85%;
    margin: 10% auto;
}
.loginSubmit{
    border-color: #01B1ED;
    background-color: #01B1ED;
    color: #fff;
    outline: none;
}
.loginSubmit:hover,.loginSubmit:focus,.loginSubmit:focus{
    opacity: .8;
    color: #fff;
    outline: none;
}
.form-group label{
    margin-top: 8px;
}